.menu-container {
  max-width: 1000px;
  height: 120px;
  background-color: #333333;
}

.menu li {
  display: inline-block;
  font-size: 5rem;
  padding-right: 5px;
}

.menu li>a {
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  color: white;
  text-decoration: none;
}

a.selected::after {
  content: '';
  height: 8px;
  bottom: -7px;
  opacity: 1;
  background: green;
  position: absolute;
  left: 18px;
  right: 18px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
}

